.spinner {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-theme);

	&-self {
		animation: lds-dual-ring 1s linear infinite;
		transform-origin: center;

		svg {
			transform: scale(1);
		}
	}

	&-relative {
		position: relative;
	}

	&-fixed {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@keyframes lds-dual-ring {
		0% {
			transform: rotate(0deg);
		}

		100% {
			transform: rotate(360deg);
		}
	}
}
