.form {
  position: relative;
  overflow: hidden;
  padding: 10px 10px 10px 16px;
  background-color: var(--bg-theme, white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  color: var(--color-theme);
  border: 1px solid var(--border-theme);
  margin-bottom: 20px;

  @media (min-width: 767px) {
    padding: 10px 10px 10px 30px;
  }
}