:root {
	--white: #FFF;
	--gray: #CDD9E5;
	--gray-50: #F6F8FF;
	--gray-100: #697C9A;
	--gray-200: #4B6A9B;
	--gray-300: #2B3442;
	--gray-400: #2D333B;
	--gray-500: #22272E;

	--green-color: #238636;

	--error-color: #F74646;

	--border-dark: rgb(240 246 252 / 10%);
	--border-light: rgb(226 226 226 / 70%);
}
