.empty {
	opacity: 0.6;
}

a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
	transition: color ease 0.2s;

	&:hover {
		text-decoration: underline;
		color: var(--color-hover-theme);
	}
}
