@import './colors';
@import './normalize';
@import './theme';
@import './global';

body {
	font-family: 'Space Mono', monospace;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--gray-50);
	overflow-y: scroll;
}
