body[data-theme='light'] {
	--color-theme: var(--gray-300);
	--color-hover-theme: var(--gray-100);
	--bg-theme: var(--white);
	--bg-2-theme: var(--gray-50);
	--border-theme: var(--border-light);

	background-color: var(--bg-2-theme);
}

body[data-theme='dark'] {
	--color-theme: var(--gray);
	--color-hover-theme: var(--gray-100);
	--bg-theme: var(--black-light);
	--bg-2-theme: var(--black);
	--border-theme: var(--border-dark);

	background-color: var(--bg-2-theme);
}
