.link {
	color: var(--color-theme);
	font-size: 13px;
	text-decoration: none;
	transition: color ease 0.2s;

	&:hover {
		text-decoration: underline;
		color: var(--color-hover-theme);
	}
}

.empty {
	opacity: 0.6;
}
